.logo{
    margin-top: 150px;
    margin-left: 120px;
    background-color: cornflowerblue;
    border: 1px solid black;
}

.image{
    float:right;
    width: 500px;
    height: 448px;
    margin-right: 0px;
    margin-top: -192px;
    border-radius: 20px;
}
/* .footer{
    vertical-align: bottom; */
    /* margin-bottom: -100px; */
    
    /* align-items: flex-end;
} */